<div class="container">
<div class="row">
<div class="col-md-12">
<h2>Crear Solicitud</h2>

<%= render 'form' %>
<div class="col-xs-4 col-xs-offset-2">
<%= link_to 'Back', voluntarios_path, class: 'btn btn-primary'  %>
</div>
</div>
</div>
</div>